[Desktop Entry]
Name=IntelliJ IDEA Community Edition
GenericName=Java IDE
Comment=IntelliJ IDEA Community Edition is the open source version of IntelliJ IDEA, an IDE for Java and other programming languages
Exec=intellij-community
Terminal=false
Icon=intellij-community
Type=Application
Categories=Development;IDE;Java;Programming;
StartupWMClass=jetbrains-idea
MimeType=text/plain;text/x-java;text/x-kotlin;text/x-gradle;text/xml;text/markdown;
